.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1rem;
}

.textFieldRoot {
  width: 3.5rem;
  margin-left: 0.5rem;
}

.textField {
  padding: 0.125rem 0;
  border: none;
  border-radius: 0;
}

.textFieldFocus {
  border-bottom: 0.125rem solid var(--blue-default);
}

.inputSelect {
  font-size: 0.75rem;
  min-height: 1.25rem;
  line-height: 1.67;
}

.textFieldArrow {
  right: 0;
  color: var(--blue-default);
}

.labelDisplayedRows {
  margin-left: 2.25rem;
  margin-right: 2.75rem;
}
