.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.25rem 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11.25rem;
  height: 11.25rem;
  margin: 0 auto 1.5rem auto;
  border-radius: 50%;
  background-color: var(--blue-default);
}
