.wrapper {
  padding: 1.5rem 0;
}

.row {
  padding: 1.125rem 1.9125rem;
  border-top: 1px solid var(--grey-offwhite);
}

.row:last-child {
  border-bottom: 1px solid var(--grey-offwhite);
}

.subRow {
  margin-bottom: 0.5rem;
}

.subRow:last-child {
  margin-bottom: 0;
}
